<%= turbo_frame_tag "representatives-list" do %>
  <% if @representatives.any? %>
    <ul class="representatives-list">
      <% @representatives.each do |representative| %>
        <li class="representative-item">
          <% if representative["image"].present? %>
            <img src="<%= representative["image"] %>" alt="<%= representative["name"] %>" class="representative-image">
          <% else %>
            <div class="representative-placeholder">
              <span class="representative-placeholder-initial"><%= representative["name"] ? representative["name"][0] : '?' %></span>
            </div>
          <% end %>
          
          <div class="representative-details">
            <h3 class="representative-name"><%= representative["name"] %></h3>
            <ul class="representative-info-list">
              <% if representative["other_names"].present? %>
                <li>Positions: <%= representative["other_names"].map { |position| position["name"] }.join(", ") %></li>
              <% end %>
              <% if representative["links"].present? && representative["links"].any? %>
                <% representative["links"].each do |link| %>
                  <li><%= link["note"] %>: <a href="<%= link["url"] %>"><%= link["url"] %></a></li>
                <% end %>
              <% end %>
              <% if representative["contact_details"].present? && representative["contact_details"].any? %>
                <% representative["contact_details"].each do |contact_detail| %>
                  <% if contact_detail["label"] == "Email" %>
                    <li><%= contact_detail["label"] %>: <a href="mailto:<%= contact_detail["value"] %>"><%= contact_detail["value"] %></a></li>
                  <% else %>
                    <li><%= contact_detail["label"] %>: <%= contact_detail["value"] %></li>
                  <% end %>
                <% end %>
              <% end %>
            </ul>
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p class="no-representatives-message">No representatives found</p>
  <% end %>
<% end %>
