<%= turbo_frame_tag "representatives-list" do %>
  <% if params[:empty] == 'true' %>
    <div class="flex flex-col items-center justify-center min-h-[200px]">
      <div class="text-lg font-medium text-gray-700">No representatives found for this location</div>
    </div>
  <% elsif @representatives&.any? %>
    <div class="overflow-x-auto md:overflow-visible border border-gray-200 rounded-lg shadow-sm mb-8">
      <table class="w-full">
        <thead class="bg-gray-50 hidden md:table-header-group">
          <tr>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider w-40 border-b-2 border-gray-200"></th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border-b-2 border-gray-200">Name</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border-b-2 border-gray-200">Positions</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border-b-2 border-gray-200">Links</th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider border-b-2 border-gray-200">Contact</th>
          </tr>
        </thead>
        <tbody class="bg-white">
          <% @representatives.each_with_index do |representative, index| %>
            <tr class="block md:table-row border-b-2 border-gray-200 mb-4 md:mb-0 hover:bg-gray-50">
              <td class="block md:table-cell px-4 py-2 md:px-6 md:py-4 whitespace-nowrap align-top">
                <div class="flex justify-center md:justify-start">
                  <% if representative["image"].present? %>
                    <div class="h-40 w-40 md:h-24 md:w-24 rounded-lg overflow-hidden bg-gray-100">
                      <img src="<%= representative["image"] %>" alt="<%= representative["name"] %>" class="object-cover w-full h-full">
                    </div>
                  <% else %>
                    <div class="h-40 w-40 md:h-24 md:w-24 rounded-lg bg-gray-200 flex items-center justify-center text-gray-500">
                      <span class="font-medium text-3xl md:text-xl"><%= representative["name"] ? representative["name"][0] : '?' %></span>
                    </div>
                  <% end %>
                </div>
              </td>
              <td class="block md:table-cell px-4 py-2 md:px-6 md:py-4 md:text-left text-sm font-medium text-gray-900 before:content-[attr(data-label)] before:block before:font-medium before:text-gray-500 before:mb-1 md:before:content-none" data-label="Name:"><%= representative["name"] %></td>
              <td class="block md:table-cell px-4 py-2 md:px-6 md:py-4 md:text-left text-sm text-gray-500 before:content-[attr(data-label)] before:block before:font-medium before:text-gray-500 before:mb-1 md:before:content-none" data-label="Positions:">
                <% if representative["other_names"].present? %>
                  <%= representative["other_names"].map { |position| position["name"] }.join(", ") %>
                <% else %>
                  &nbsp;
                <% end %>
              </td>
              <td class="block md:table-cell px-4 py-2 md:px-6 md:py-4 md:text-left text-sm text-gray-500 before:content-[attr(data-label)] before:block before:font-medium before:text-gray-500 before:mb-1 md:before:content-none" data-label="Links:">
                <% if representative["links"].present? && representative["links"].any? %>
                  <ul class="list-none p-0 m-0">
                    <% representative["links"].each do |link| %>
                      <li>
                        <a href="<%= link["url"] %>" target="_blank" class="text-indigo-600 hover:text-indigo-900 inline-flex items-center">
                          <span><%= link["note"] %></span>
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 ml-1">
                            <path fill-rule="evenodd" d="M4.25 5.5a.75.75 0 0 0-.75.75v8.5c0 .414.336.75.75.75h8.5a.75.75 0 0 0 .75-.75v-4a.75.75 0 0 1 1.5 0v4A2.25 2.25 0 0 1 12.75 17h-8.5A2.25 2.25 0 0 1 2 14.75v-8.5A2.25 2.25 0 0 1 4.25 4h4a.75.75 0 0 1 0 1.5h-4a.75.75 0 0 0-.75.75Zm7.25-3a.75.75 0 0 0 0 1.5h1.293L7.093 9.707a.75.75 0 0 0 1.06 1.06L13.5 5.311V6.6a.75.75 0 0 0 1.5 0v-4.25a.75.75 0 0 0-.75-.75h-4.25a.75.75 0 0 0 0 1.5h1.19Z" clip-rule="evenodd" />
                          </svg>
                        </a>
                      </li>
                    <% end %>
                  </ul>
                <% else %>
                  &nbsp;
                <% end %>
              </td>
              <td class="block md:table-cell px-4 py-2 md:px-6 md:py-4 md:text-left text-sm text-gray-500 before:content-[attr(data-label)] before:block before:font-medium before:text-gray-500 before:mb-1 md:before:content-none" data-label="Contact:">
                <% if representative["contact_details"].present? && representative["contact_details"].any? %>
                  <ul class="list-none p-0 m-0">
                    <% representative["contact_details"].each do |contact_detail| %>
                      <% if contact_detail["label"] == "Email" %>
                        <li><%= contact_detail["label"] %>: <a href="mailto:<%= contact_detail["value"] %>" class="text-indigo-600 hover:text-indigo-900"><%= contact_detail["value"] %></a></li>
                      <% else %>
                        <li><%= contact_detail["label"] %>: <%= contact_detail["value"] %></li>
                      <% end %>
                    <% end %>
                  </ul>
                <% else %>
                  &nbsp;
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
<% end %>
